.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* --- Global --- */

html, body {
  font-family: 'Roboto', sans-serif;
}

/* --- Auth --- */

.AuthHeader{
  text-align: center;
  margin: 40px 0 20px 0;
}

.CustomButtonFilled{
  font-size: 1.4rem;
  margin:10px 0;
  background: #38B2AC;
  border: 1px solid #319795;
}

.CustomButtonFilled:hover{
  background:#319795;
  border: 1px solid #319795;
}

.CustomButtonOutline{
  font-size: 1.2rem;
  border: 1px solid #38B2AC;
  background: white;
  color: #38B2AC;
}

.CustomButtonOutline:hover{
  border: 1px solid #38B2AC;
  background: #38B2AC;
  color:white;
}

.AuthButton{
  font-size: 1.8rem;
  width: 100%;
}


.FormTextInput{
  font-size: 1.2rem;
  margin: 10px 0;
}

.SwitchAuthPageWrapper span{
  font-size: 1.4rem;
}

.SwitchAuthButton{
  margin: 10px 10px;
  
}


.LogoNavBar{
  margin-right: 1rem;
}

.error{
  color: #E53E3E;
}

.CenteredContainerLogin{
  border: 1px solid lightgrey;
  margin: 80px auto;
  margin-top: 80px;
  padding: 20px 50px;
  width: 94%;
  max-width: 40rem;
}

.CenteredContainerApp{
  /* border: 1px solid lightgrey; */
  margin: 20px auto;
  width: 80%;
  max-width: 1400px;
}

.FormWrapper{
  /* border:1px solid teal; */
  /* width: 80%;
  margin: 0 auto; */
  margin-top: 50px; 
}

.FormWrapper h3{
  margin-bottom:2rem;
}

.Temp{
  width: 100%;
  margin: 10px 0;
}

.NavLink{
  color:white;
  margin: 0 10px;
  text-decoration: none;
}

.NavLink:hover{
  color: rgb(169, 169, 169);
  text-decoration: none;
}

.active{
  color: rgb(169, 169, 169);
}

.ContinueButton{
  margin-top: 3rem;
  padding: 1rem 2rem;
}